.hakkimizda{
    font-family: cursive;
    font-style: italic;
}

.label{
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    display: flex;
    justify-content: center;
    color: #344767;
    display: flex;
    gap: 10px; 
}
.resim{
  margin-right: 20px;
  justify-content: center;
}